

<div class="footer">
    <div class="left">
        <h2>GameVault</h2>
        <p>Copyright 2023. All rights reserved.</p>
    </div>
    <div class="footer-links">
        <div class="footer-links-inner">
            <h3>About</h3>
            <a href="http://">Facebook</a>
            <a href="http://">Twitter</a>
            <a href="http://">Instagram</a>
        </div>
        <div class="footer-links-inner">
            <h3>Socials</h3>
            <a href="http://">Facebook</a>
            <a href="http://">Twitter</a>
            <a href="http://">Instagram</a>
        </div>
    </div>
</div>